.loginbox{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .loginbox h1 {
      color: whitesmoke;
      text-transform: uppercase;
      font-weight: 200;
  }

  .loginbox input[type = "text"], .loginbox input[type = "password"] {
      border: 0;
      background-color: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid lightcoral;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      color: black;
      border-radius: 24px;
      transition: 0.25s;
      
  } 

  .loginbox input[type = "text"]:focus, .loginbox input[type = "password"]:focus {
    width: 225px;
    border-color: red;
  }

  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: .25s;
  }

  .box input[type = "submit"]:hover{
    background: lightcoral;
  }

