#movies img, #movie img{
  width: 100%;
}

#navlogo {
  height: 3em;
}

#logoname {
  color: black;
  font-size: 1.1em;
}

@media(min-width:992px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}
