body {
  background-color: rgb(56, 56, 56) !important;
}

#movies img, #movie img{
  width: 100%;
}

#movies {

}

#navlogo {
  height: 3em;
}

#logoname {
  color: rgb(201, 201, 201);
  font-size: 1.1em;
}

#loginBtn {
  float:right;
}

#navBar {

}

#movieTitle {
  color: rgb(219, 219, 219);

}

#movieInfo {
  background-color: transparent !important;
}

#plotLabel {
  color: rgb(201, 201, 201);
}

#moviePlot {
  color: rgb(201, 201, 201);
}

.movieTitle {
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(201, 201, 201);
}

#movie {
  margin-bottom: 0px !important;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  color: white;
  border: 1px solid white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media(min-width:992px){ /* This says, if the screen width of the browser is less than 992 pixels, then change the height of below items to their respective values */
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }

  #movie {
    margin-bottom: -75px !important;
  }
}
